MediaFileRenamer.xcodeproj/project.xcworkspace/xcuserdata/julia.xcuserdatad/UserInterfaceState.xcuserstate
MediaFileRenamer.xcodeproj/xcuserdata/julia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MediaFileRenamer.xcodeproj/xcuserdata/julia.xcuserdatad/xcschemes/xcschememanagement.plist
